<!-- Header -->
<div class="uk-cover-container uk-height-viewport">
    <video src="{{upload_path}}videoforyourhomepagebackground.mp4" autoplay loop muted playsinline uk-cover></video>
        <div class="uk-position-cover uk-overlay uk-overlay-primary uk-margin-remove-top@s">
            {% include 'partials/navHome.html.twig' %}
    <!-- Content Header -->
    <div uk-height-viewport="offset-top: true; offset-bottom: true" class="uk-section uk-section-small uk-flex uk-flex-wrap uk-text-center" style="min-height: calc((100vh - 80px) - 80px);">
            <div class="uk-width-1-1 uk-margin-large-top@l">
                <div class="uk-container uk-margin-large-top@l">
                        <p class="uk-animation-scale-down uk-margin-large-top">
                            <svg width="500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 927.35 159.84"><defs><style>.cls-3,.cls-4{fill:#e64c3c;stroke:#e64c3c;stroke-miterlimit:10;stroke-width:2px;}.cls-3{font-size:112.64px;font-family:Montserrat-SemiBold, Montserrat;font-weight:600;}</style></defs><g id="Calque_2" data-name="Calque 2"><g id="Calque_3-4" data-name="Calque 1"><path class="cls-3" d="M445,50.77H379V72.69h19.66V83l-.15.06c-6.46,3.21-13.48,5.18-19,5.18-17.9,0-31.65-13.9-31.65-32.26,0-18.06,13.59-32,31.35-32,10,0,21,4.47,28.87,11.73l15.44-18.68c-11.12-9.87-28.1-16-44.15-16-34.13,0-59.61,23.61-59.61,55s24.87,55.27,57.74,55.27a78.8,78.8,0,0,0,21-3.13v50.74H443.9c34.73,0,58.51-22.08,58.51-54C502.41,72.69,478.94,50.77,445,50.77Zm.63,86.15H426V72.69h18.38c17.44,0,30.11,13.12,30.11,32.27C474.47,123.94,462.42,136.92,445.6,136.92Z"/><text class="cls-3" transform="translate(1 111.8)"><tspan xml:space="preserve">Geek       Design</tspan></text></g></g></svg>
                        </p>
                        <p class="uk-margin-medium uk-text-lead uk-animation-fade font-blanc">
                            < Ma passion pour le code au service de vos idées >
                        </p>
                    <div uk-grid="" class="uk-child-width-auto uk-grid-medium uk-flex-inline uk-flex-center uk-grid uk-animation-fade">
                        <div class="uk-first-column"> 
                            <a href="{{ path('home') }}#contact" class="uk-button uk-button-default">Me contacter par mail</a>
                        </div>
                        <div>
                            <a href="https://api.whatsapp.com/send?phone=41793346496" class="uk-button uk-button-border tm-button-default tm-button-large ">par message WhatsApp</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>