<!-- Header -->
<div class="uk-cover-container uk-height-large">
    <img src="https://html.waituk.com/roxine/img/big-14.jpg" alt="" class="uk-animation-kenburns uk-background-center-center">
        <div class="uk-position-cover uk-overlay uk-overlay-primary">
            {% include 'partials/nav.html.twig' %}
    <!-- Content Header -->
            <div class="uk-container uk-text-center">
                <h1 class="uk-heading-small uk-margin-large-top font-blanc uk-animation-fade">{{page.titre}}</h1>
            </div>
    </div>
</div>