
{% for bloc in blocks | sort((a, b) => a.niveau <=> b.niveau) %}
{% if bloc.page == page.titre %}
    {% if bloc.zone == zone %}
        {% if bloc.isOnline == true %}
            

        <h1 class="uk-heading-small uk-text-center uk-margin-large-top {% if bloc.textBlanc == true %}font-blanc{% endif %}">{{bloc.titre}}</h1>
        <p class="uk-text-center uk-margin-medium-top uk-margin-large-bottom {% if bloc.textBlanc == true %}font-blanc{% endif %}">{{bloc.content}}</p>


        {% endif %}
    {% endif %}
{% endif %}
{% endfor %}