{% for bloc in blocks | sort((a, b) => a.niveau <=> b.niveau) %}
{% if bloc.page == page.titre %}
    {% if bloc.zone == zone %}
        {% if bloc.isOnline == true %}
            

        <h2 class="uk-heading-small uk-text-center uk-margin-large-top">{{bloc.titre}}</h2>
        <p class="uk-text-center uk-margin-medium-top uk-margin-large-bottom">{{bloc.content}}</p>


        {% endif %}
    {% endif %}
{% endif %}
{% endfor %}