{% set items = processus2 %}
{% for item in items %}
    <div>
        <div class="uk-tile uk-tile-muted uk-padding-small icon-card">
            <i class="{{item.icon}} icon uk-heading-medium uk-margin-medium-top"></i>
            <h1 class="uk-text-large uk-margin-small-top uk-text-uppercase">{{item.titre}}</h1>
            <p class="uk-margin-medium-bottom">{{item.description}}</p>
        </div>
    </div>
{% endfor %}