{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    {% include 'partials/pageHeader.html.twig' %}
    {% for article in articles %}
        <h1>{{article.titre}}</h1>
    {% endfor %}

{% endblock %}
